.logo {
    position: relative;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ff7a2f;
    text-transform: uppercase;
    z-index: 1;

    text-shadow:
        0 0 5px rgba(255,122,47,0.6),
        0 0 15px rgba(255,122,47,0.6),
        0 0 30px rgba(255,122,47,0.4);

    animation: logoGlow 2s ease-in-out infinite alternate;
}

/* 🔥 Aura pulsante */
@keyframes logoGlow {
    0% {
        text-shadow:
            0 0 5px rgba(255,122,47,0.6),
            0 0 15px rgba(255,122,47,0.6),
            0 0 30px rgba(255,122,47,0.4);
    }
    100% {
        text-shadow:
            0 0 10px rgba(255,122,47,0.9),
            0 0 25px rgba(255,179,71,0.9),
            0 0 50px rgba(255,122,47,0.8);
    }
}


.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.6),
        transparent
    );
    animation: shineMove 3s infinite;
}

@keyframes shineMove {
    0% { left: -100%; }
    100% { left: 500%; }
}
