body{
    margin: 0;
    background-color: red;
    min-height: 100vh;

}
#contenedor-principal{
    margin: 20px;
    background-color: blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
}
#menu-principal{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: cyan;
}
.menu-seccion{
    margin: 0;
    height: 100%;
    background-color: blueviolet;
    
}