.beneficios {
    text-align: center;
    background-color: transparent;
}

.beneficios h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.beneficios-grid {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 25px;
}


.card {
    width: 220px;  
    background: white;
    border-radius: 16px;
    padding: 30px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card:hover {
    transform: translateY(-8px);
}

.icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.95rem;
    opacity: 0.8;
}
.icon {
    width: 70px;
    height: 70px;
    background: #9f6f21;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 1.8rem;
}


/*CONTENIDO POST TARJETA*/


.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    max-width: 1100px;
}

.control-img img {
    border-radius: 16px;
    height: 400px;
}

.control-text {
    max-width: 500px;
}

.control-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.control-text h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    opacity: 0.7;
}
